.error-page {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-page_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-page_content .content-text {
  padding-top: 43px;
  padding-bottom: 28px;
}
.error-page_content .content-text p {
  color: #030303;
  font-size: 23px;
  font-weight: 400;
}
.error-page_content .content-link a {
  text-decoration: none;
}
.error-page_content .content-link a button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 19px;
  background-color: #908f8f;
  border: 0;
  transition: all 0.4s;
  padding: 12px 45px;
}
.error-page_content .content-link a button:hover {
  background-color: #7a7a7a;
}
