.footer{
  border-top: 1px solid #646262;
  padding-top: 20px;
  padding-bottom: 15px;
  &-copy{
    p{
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 12px;
      a{
        color: inherit;
      }
      &:nth-last-child(1){
        padding-bottom: 0;
      }
    }
  }
  &-time{
    text-align: right;
    margin-right: 7%;
    p{
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 12px;
      a{
        color: inherit;
      }
      &:nth-last-child(1){
        padding-bottom: 0;
      }
    }
  }
  &-adress{
    text-align: right;
    margin-right: 7%;
    p{
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 12px;
      a{
        color: inherit;
      }
      &:nth-last-child(1){
        padding-bottom: 0;
      }
    }
  }
  &-social{
    display: flex;
    flex-direction: column;
    &__link{
      margin-top: 3px;
      margin-bottom: 3px;
      &:hover{
        .st0{
          fill: #cccccc;
        }
      }
      svg{
        width: 20px;
      }
      .st0{
        fill: #646262;
      }
    }
  }
  &-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}